<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <title>Quiz App</title>
</head>

<body>
  <div class="footer">

    <div class="col-1">
      <i class="fa-sharp fa-solid fa-question fa-2x"></i>
    </div>

    <div class="col-2">
      <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
      <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
      <a href="#"><i class="fa-brands fa-instagram fa-2x"></i></a>
    </div>

    <div class="col-3">
      <p><i class="fa-solid fa-copyright"></i> DSM enterprises</p>
    </div>

  </div>


</body>

</html>
