<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <title>Quiz App</title>
</head>
<body>

  <nav>
   <!-- if statement -->
      <!-- <p>Welcome, user!</p>
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    <ul>
      <li><a href="#">Create a Quiz</a></li>
      <li><a href="#">My Quizzes</a></li>
      <li><a href="#">My Quiz Results</a></li>
      <li><a href="#">Hanburger Style Icon</a></li> -->
    <!-- </ul> -->

<!-- else  -->
<div class="nav-col">
      <p><a href="#">Quiz App</a></p>
</div>
<div class="nav-col">
      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit">Login</button>
      </form>
</div>
<!-- closing tag  -->
</nav>

</body>
</html>
