<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <title>Quiz Wiz</title>
</head>
<body>
<!-- Nav Bar -->
  <nav class = "navbar">
    <div class="logo">
      <a href="/quizzes">
        <span>Q</span>uizzes<span>W</span>ith<span>F</span>riends
      </a>
    </div>

    <div class="nav-list">
      <a href="/quizzes/create" class="nav-link">Create a Quiz</a>
      <a href="/quizzes/user_quizzes" class="nav-link">My Quizzes</a>
      <a href="/quizzes/user_quiz_results" class="nav-link">My Quiz Results</a>
      <a href="/quizzes/login" class="nav-link">Login</a>
    </div>
  </nav>
  <!-- end of Nav -->

<!-- Menu -->>
<!-- <div class="menu">
  <div class="line line-1"></div>
  <div class="line line-2"></div>
  <div class="line line-3"></div>
</div> -->
<!-- end of Menu-->

</body>
</html>
