<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quizzes with Friends</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.scss" />
    <link rel="stylesheet" href="/styles/layout.scss" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap"
      rel="stylesheet"/>
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500&family=Open+Sans:wght@300&display=swap" rel="stylesheet">


    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/app.js"></script>
    <script
      src="https://kit.fontawesome.com/53038575dd.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>

  <!-- Navbar -->
    <% include partials/_header %>

  <!-- Hero -->
    <main>
      <div class="hero-container">

      <div class="hero-img">
      <img src="/images/friends.png" class="hero-img" alt="Business Partnership">
      </div>
      <div class="hero-text">
        <h1>Want to put your friend's knowledge to the test?</h1>
        <h2>Create custom quizzes and challenge your friends!</h2>
        <a href="/quizzes/create"><button>Create a Quiz</button></a>
      </div>
      </div>


      <!-- <form action="/:quizid" method="GET" class="quiz-display"> -->
        <div class="take-quiz-container">
          <div class="take-quiz-text">
        <h1 class="take-quiz-text">
          Or, maybe you are a trivia master looking for a challenge.
        </h1>
        <h2 class="take-quiz-text">Choose a quiz and see how much you know!</h2>
      </div>
        <img src="/images/step out of phone (1).png" alt="" class="take-quiz-img">
      </div>
        <div class="quiz-cards">
           <% quizzes.forEach((quiz) => { %>
          <div class="column">
            <div class="icon-container">
              <i class="fa-sharp fa-solid fa-question fa-5x"></i>
            </div>
            <a href="/quizzes/<%= quiz.id %>"><h3><%= quiz.title %> </h3></a>
            <p> Author </p>
            <p><%= quiz.description %></p>
          </div>
          <% }) %>
        </div>
      </div>
      <!-- </form> -->

    </main>

    <% include partials/_footer %>
  </body>
</html>
