<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz App</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
<% include partials/_header %>

<section class="hero">
    <div class="hero-text">
      <h1>Quiz App</h1>
      <p>Quiz App is a quiz app that allows you to create quizzes and take quizzes.</p>
      <button type="#">Create a Quiz</button>
    </div>

    <h1>Or, Take a quiz!</h1>
    <section class ="quiz-cards">
      <div class="column">
        <h2 a href="/">Quiz</h2>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <h2 a href="/">Quiz</h2>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <h2 a href="/">Quiz</h2>
        <p>Quiz Description</p>
      </div>
      </section>




  </main>



</body>

</html>
