<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz App</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="https://kit.fontawesome.com/53038575dd.js" crossorigin="anonymous"></script>
</head>

<body>
<% include partials/_header %>

<section class="hero">

    <img src="/images/business-partnership.png" class="hero-img">
    <div class="hero-text">
      <h3>fun descriptive tagline for app</h3>
      <form action="/create" method="GET"><button type="submit">Create a Quiz</button></form>
    </div>
  </section>

    <div class="quiz-display">

    <h1 class="title">tagline for user to try a quiz</h1>

    <div class ="quiz-cards">

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>

      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
        <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>


      <div class="column">
        <div class="icon-container">
        <i class="fa-sharp fa-solid fa-question fa-5x"></i>
        </div>
           <a href="/quiz"><h3>Quiz</h3></a>
        <p>Quiz Author</p>
        <p>Quiz Description</p>
      </div>
    </div>
  </div>
  </section>

  <section class="tbd">

  </section>
  </main>
  <% include partials/_footer %>
</body>

</html>
