<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quizzes with Friends</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap"
    rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;500&family=Open+Sans:wght@300&display=swap"
    rel="stylesheet">


  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="https://kit.fontawesome.com/53038575dd.js" crossorigin="anonymous"></script>
</head>

<body>

<!-- Navbar -->
  <% include partials/_header %>


<!-- Create Quiz Instructions -->
  <div class="create-intro">
    <h1>It's easy to create a quiz on QuizzesWithFriends!</h1>
    <div class="create-instructions">
      <div class="create-instructions-1">
        <i class="fa-solid fa-circle-info"></i>
        <h2>Step 1: Give us some basic info about your quiz</h2>
      </div>
      <div class="create-instructions-2">
        <i class="fa-solid fa-circle-question"></i>
        <h2> Step 2: write your questions and multiple choice answers</h2>
      </div>
      <div class="create-instructions-3">
        <i class="fa-solid fa-circle-dot"></i>
        <h2> Step 3: choose the correct answer to each question</h2>
      </div>
      <div class="create-instructions-4">
        <i class="fa-solid fa-share"></i>
        <h2> Step 4: Share your quiz with your friends!</h2>
      </div>
    </div>
  </div>

<!-- Create Quiz Form -->

  <form action="/" method="POST">
    <div class="quiz-container" id="quiz">
      <div class="question-box">
        <h2 class="quiz-name">Name Your Quiz</h2>
        <input type="text" class="quiz-title"></input>
        <h2 class="quiz-description">Describe Your Quiz</h2>
        <input type="text" class="quiz-description"></input>
        <h2 class="quiz-category">Choose a Category</h2>
        <select name="category" id="category" class="quiz-category">
          <option value="general">General Knowledge</option>
          <option value="books">Books</option>
          <option value="film">Film</option>
          <option value="music">Music</option>
          <option value="english">English</option>
          <option value="sciences">Sciences</option>
        </select>
        <h2>Make Your Quiz Private or Public</h2>
        <p>(your friends can still access your private quiz if you share your link)</p>
        <select name="privacy" id="privacy" class="quiz-private">
          <option value="private">Make my Quiz Private</option>
          <option value="public">Make My Quiz Public</option>
        </select>
      </div>

<!-- Question Box 1 -->

        <div class="question-box">
        <h2 class="question">Question 1</h2>
        <input type="text" class="question-text"></input>
        <h2 class="question">Answers</h2>
        <h4>(check the correct answer)</h4>
        <ol type="a">
          <li>
            <h3>a.</h3>
            <input type="text" name="1answer-text" id="a" class="answer">
            <input type="radio" name="1answer-radio" id="a" class="correct-answer">
          </li>

          <li>
            <h3>b.</h3>
            <input type="text" name="1answer-text" id="b" class="answer">
            <input type="radio" name="1answer-radio" id="b" class="correct-answer">
          </li>

          <li>
            <h3>c.</h3>
            <input type="text" name="1answer-text" id="c" class="answer">
            <input type="radio" name="1answer-radio" id="c" class="correct-answer">
          </li>

          <li>
            <h3>d.</h3>
            <input type="text" name="1answer-text" id="d" class="answer">
            <input type="radio" name="1answer-radio" id="d" class="correct-answer">
          </li>
        </ol>
      </div>

<!-- Question Box 2 -->

      <div class="question-box">
        <h2 class="question">Question 2</h2>
        <input type="text" class="question-text"></input></span>
        <h2 class="question">Answers</h2>
        <h4>(check the correct answer)</h4>
        <ol>
          <li>
            <h3>a.</h3>
            <input type="text" name="2answer-text" id="a" class="answer">
            <input type="radio" name="2answer-radio" id="a" class="correct-answer">
          </li>

          <li>
            <h3>b.</h3>
            <input type="text" name="2answer-text" id="b" class="answer">
            <input type="radio" name="2answer-radio" id="b" class="correct-answer">
          </li>

          <li>
            <h3>c.</h3>
            <input type="text" name="2answer-text" id="c" class="answer">
            <input type="radio" name="2answer-radio" id="c" class="correct-answer">
          </li>

          <li>
            <h3>d.</h3>
            <input type="text" name="2answer-text" id="d" class="answer">
            <input type="radio" name="2answer-radio" id="d" class="correct-answer">
          </li>
        </ol>
      </div>

<!-- Question Box 3 -->

      <div class="question-box">
        <h2 class="question">Question 3</h2>
        <input type="text" class="question-text"></input>
        <div class="create-answers">
          <h2>Answers</h2>
          <h4>(check the correct answer)</h4>
        </div>
        <ol>
          <li>
            <h3>a.</h3>
            <input type="text" name="3answer-text" id="a" class="answer">
            <input type="radio" name="3answer-radio" id="a" class="correct-answer">
          </li>

          <li>
            <h3>b.</h3>
            <input type="text" name="3answer-text" id="b" class="answer">
            <input type="radio" name="3answer-radio" id="b" class="correct-answer">
          </li>

          <li>
            <h3>c.</h3>
            <input type="text" name="3answer-text" id="c" class="answer">
            <input type="radio" name="3answer-radio" id="c" class="correct-answer">
          </li>

          <li>
            <h3>d.</h3>
            <input type="text" name="3answer-text" id="d" class="answer">
            <input type="radio" name="3answer-radio" id="d" class="correct-answer">
          </li>
        </ol>
      </div>

<!-- Question Box 4 -->

      <div class="question-box">
        <h2 class="question">Question 4</h2><input type="text"></input>
        <h2 class="question">Answers</h2>
        <h4>(check the correct answer)</h4>
        <ol>
          <li>
            <h3>a.</h3>
            <input type="text" name="4answer-text" id="a" class="answer">
            <input type="radio" name="4answer-radio" id="a" class="correct-answer">
          </li>

          <li>
            <h3>b.</h3>
            <input type="text" name="4answer-text" id="b" class="answer">
            <input type="radio" name="4answer-radio" id="b" class="correct-answer">
          </li>

          <li>
            <h3>c.</h3>
            <input type="text" name="4answer-text" id="c" class="answer">
            <input type="radio" name="4answer-radio" id="c" class="correct-answer">
          </li>

          <li>
            <h3>d.</h3>
            <input type="text" name="4answer-text" id="d" class="answer">
            <input type="radio" name="4answer-radio" id="d" class="correct-answer">
          </li>
        </ol>
      </div>

<!-- Question Box 5 -->

      <div class="question-box">
        <h2 class="question">Question 5</h2>
        <input type="text" class="question-text"></input>
        <h2 class="question">Answers</h2>
        <h4>(check the correct answer)</h4>
        <ol type="a">
          <li>
            <h3>a.</h3>
            <input type="text" name="5answer-text" id="a" class="answer">
            <input type="radio" name="5answer-radio" id="a" class="correct-answer">
          </li>

          <li>
            <h3>b.</h3>
            <input type="text" name="5answer-text" id="b" class="answer">
            <input type="radio" name="5answer-radio" id="b" class="correct-answer">
          </li>

          <li>
            <h3>c.</h3>
            <input type="text" name="5answer-text" id="c" class="answer">
            <input type="radio" name="5answer-radio" id="c" class="correct-answer">
          </li>

          <li>
            <h3>d.</h3>
            <input type="text" name="5answer-text" id="d" class="answer">
            <input type="radio" name="5answer-radio" id="d" class="correct-answer">
          </li>
        </ol>
      </div>
    </div>

<!-- Generate Quiz Button -->

    <div class="button">
      <button type="submit" onclick="addNewQuiz()">Generate Quiz</button>
    </div>
  </form>

<!-- Footer -->

  <% include partials/_footer %>


</body>

</html>
