<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz App</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
<% include partials/_header %>

<body>
  <h1>Quiz Name</h1>
  <h2>Quiz Description</h2>
  <h3>Quiz Author</h3>

  <!-- Question 1 -->

  <div class="quiz-container" id="quiz">
    <h2 id="question">Question 1</h2>
    <ul>
      <li>
        <input type="radio" name="answer" id="a" class="answer">
        <label for="a" id="a_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="b" class="answer">
        <label for="b" id="b_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="c" class="answer">
        <label for="c" id="c_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="d" class="answer">
        <label for="d" id="d_text">Question</label>
      </li>
    </ul>
  </div>


  <!-- Question 2 -->

  <div class="quiz-container" id="quiz">
    <h2 id="question">Question 2</h2>
    <ul>
      <li>
        <input type="radio" name="answer" id="a" class="answer">
        <label for="a" id="a_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="b" class="answer">
        <label for="b" id="b_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="c" class="answer">
        <label for="c" id="c_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="d" class="answer">
        <label for="d" id="d_text">Question</label>
      </li>
    </ul>
  </div>

   <!-- Question 3 -->

   <   <div class="quiz-container" id="quiz">
    <h2 id="question">Question 3</h2>
    <ul>
      <li>
        <input type="radio" name="answer" id="a" class="answer">
        <label for="a" id="a_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="b" class="answer">
        <label for="b" id="b_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="c" class="answer">
        <label for="c" id="c_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="d" class="answer">
        <label for="d" id="d_text">Question</label>
      </li>
    </ul>
  </div>


   <!-- Question 4 -->

   <div class="quiz-container" id="quiz">
    <h2 id="question">Question 4</h2>
    <ul>
      <li>
        <input type="radio" name="answer" id="a" class="answer">
        <label for="a" id="a_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="b" class="answer">
        <label for="b" id="b_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="c" class="answer">
        <label for="c" id="c_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="d" class="answer">
        <label for="d" id="d_text">Question</label>
      </li>
    </ul>
  </div>

   <!-- Question 5 -->

   <div class="quiz-container" id="quiz">
    <h2 id="question">Question 5</h2>
    <ul>
      <li>
        <input type="radio" name="answer" id="a" class="answer">
        <label for="a" id="a_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="b" class="answer">
        <label for="b" id="b_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="c" class="answer">
        <label for="c" id="c_text">Question</label>
      </li>

      <li>
        <input type="radio" name="answer" id="d" class="answer">
        <label for="d" id="d_text">Question</label>
      </li>
    </ul>
  </div>

  <div class="submit">
    <button id="submit">Submit</button>
  </div>

</body>
  <% include partials/_footer %>
</body>

</html>
