
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz App</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap" rel="stylesheet">

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
<% include partials/_header %>
<h2>Instructions for user to create a quiz</h2>
<p>instructions for user to create quiz</p>
<table class="table">
  <thead>
    <th scope="col">Input Your Question and Answers</th>
    <th scope="col">Check the Correct Answer</th>
  </thead>
</table>
<tbody>
<div class="quiz-container" id="quiz">
  <span><p>Question 1:</p><input type="text"></input></span>
  <ol type="a">
    <li>
      <input type="text" name="1answer" id="a" class="answer">
      <input type="radio" name="1answer" id="a" class="answer">
    </li>

    <li>
      <input type="text" name="1answer" id="b" class="answer">
      <input type="radio" name="1answer" id="b" class="correct-answer">
    </li>

    <li>
      <input type="text" name="1answer" id="c" class="answer">
      <input type="radio" name="1answer" id="c" class="correct-answer">
    </li>

    <li>
      <input type="text" name="1answer" id="d" class="answer">
      <input type="radio" name="1answer" id="d" class="correct-answer">
    </li>
  </ol>

  <span><p>Question 2:</p><input type="text"></input></span>
  <ol type="a">
    <li>
      <input type="text" name="2answer" id="a" class="answer">
      <input type="radio" name="2answer" id="a" class="correct-answer">
    </li>

    <li>
      <input type="text" name="2answer" id="b" class="answer">
      <input type="radio" name="2answer" id="b" class="correct-answer">
    </li>

    <li>
      <input type="text" name="2answer" id="c" class="answer">
      <input type="radio" name="2answer" id="c" class="correct-answer">
    </li>

    <li>
      <input type="text" name="2answer" id="d" class="answer">
      <input type="radio" name="2answer" id="d" class="correct-answer">
    </li>
  </ol>

  <span><p>Question 3:</p><input type="text"></input></span>
  <ol type="a">
    <li>
      <input type="text" name="3answer" id="a" class="answer">
      <input type="radio" name="3answer" id="a" class="correct-answer">
    </li>

    <li>
      <input type="text" name="3answer" id="b" class="answer">
      <input type="radio" name="3answer" id="b" class="correct-answer">
    </li>

    <li>
      <input type="text" name="3answer" id="c" class="answer">
      <input type="radio" name="3answer" id="c" class="correct-answer">
    </li>

    <li>
      <input type="text" name="3answer" id="d" class="answer">
      <input type="radio" name="3answer" id="d" class="correct-answer">
    </li>
  </ol>

  <span><p>Question 4:</p><input type="text"></input></span>
  <ol type="a">
    <li>
      <input type="text" name="4answer" id="a" class="answer">
      <input type="radio" name="4answer" id="a" class="correct-answer">
    </li>

    <li>
      <input type="text" name="4answer" id="b" class="answer">
      <input type="radio" name="4answer" id="b" class="correct-answer">
    </li>

    <li>
      <input type="text" name="4answer" id="c" class="answer">
      <input type="radio" name="4answer" id="c" class="correct-answer">
    </li>

    <li>
      <input type="text" name="4answer" id="d" class="answer">
      <input type="radio" name="4answer" id="d" class="correct-answer">
    </li>
  </ol>

  <span><p>Question 5:</p><input type="text"></input></span>
  <ol type="a">
    <li>
      <input type="text" name="5answer" id="a" class="answer">
      <input type="radio" name="5answer" id="a" class="correct-answer">
    </li>

    <li>
      <input type="text" name="5answer" id="b" class="answer">
      <input type="radio" name="5answer" id="b" class="correct-answer">
    </li>

    <li>
      <input type="text" name="5answer" id="c" class="answer">
      <input type="radio" name="5answer" id="c" class="correct-answer">
    </li>

    <li>
      <input type="text" name="5answer" id="d" class="answer">
      <input type="radio" name="5answer" id="d" class="correct-answer">
    </li>
  </ol>
</div>
</tbody>
<button type="submit">Generate Quiz</button>

  <% include partials/_footer %>
</body>

</html>
