html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #3e4159;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 90px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 600;
}
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  color: #62d1d4;
}

h1 {
  font-size: 2rem;
}
h1:hover {
  color: #62d1d4;
}

h2 {
  font-size: 1.5rem;
}
h2:hover {
  color: #62d1d4;
}

a {
  color: #3ac5c9;
  text-decoration: none;
}
a:hover {
  color: #62d1d4;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  background-color: #3ac5c9;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  border-radius: 5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
button:hover {
  background-color: #62d1d4;
}

input,
textarea,
select {
  display: block;
  width: 100%;
  height: auto;
  border: none;
  padding: 5px;
  border-radius: 5rem;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #3e4159;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #fff;
}

.navbar {
  width: 100%;
  height: 2rem;
  background-color: #c1f0f1;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 3rem;
}
.navbar .nav-list {
  position: absolute;
  top: 45%;
  left: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  color: #3ac5c9;
}
.navbar .nav-link {
  font-family: "Open Sans", sans-serif;
  color: #3e4159;
  text-decoration: none;
}
.navbar .nav-link:hover {
  color: #62d1d4;
}
.navbar .menu {
  width: 4rem;
  height: 2.5rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logo {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
}
.logo a {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #3e4159;
  letter-spacing: 0.1rem;
}
.logo a:hover {
  color: #62d1d4;
}
.logo span {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #3e4159;
  letter-spacing: 0.1rem;
}

.footer {
  width: 100%;
  height: 100px;
  color: #3ac5c9;
  background-color: #3e4159;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: relative;
}

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 3rem;
  background-color: #c1f0f1;
}

.hero-text {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-right: 4rem;
  background-color: #c1f0f1;
}

.hero-img {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;
}

.take-quiz-text {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.quiz-cards {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.icon-container {
  background-color: #3e4159;
  border-radius: 5rem;
  width: 115px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  color: #3ac5c9;
}

.column {
  color: #3e4159;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17%;
}
.column p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  word-wrap: nowrap;
  margin-top: 0;
  text-align: center;
}

.take-quiz-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.take-quiz-img {
  background: transparent;
  padding-top: 1rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
  width: 35%;
  height: 35%;
}

.create-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-box {
  display: flex;
  flex-direction: column;
  align-items: row;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  width: 60%;
  border-radius: 1.5rem;
  color: #3ac5c9;
  background-color: #3e4159;
}
.question-box li {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-evenly;
}
.question-box .question {
  display: flex;
  justify-content: center;
}
.question-box h4 {
  display: flex;
  justify-content: center;
  margin: -1rem;
}
.question-box .correct-answer {
  width: 10%;
}
.question-box h3 {
  margin: 0;
  margin-left: -2rem;
  margin-right: 1rem;
}
.question-box .question-text {
  width: 92%;
  margin-left: 1.25rem;
}
.question-box input[type=radio] {
  outline: transparent;
}

.create-instructions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.create-instructions-1,
.create-instructions-2,
.create-instructions-3,
.create-instructions-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.create-instructions-1 i,
.create-instructions-2 i,
.create-instructions-3 i,
.create-instructions-4 i {
  font-size: 2rem;
  color: #3e4159;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.table {
  border-collapse: collapse;
  font-family: "Open Sans", sans-serif;
  margin: 2rem auto;
  width: 80%;
  text-align: center;
  table-layout: fixed;
  width: 75%;
}

th,
td {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 1rem;
  width: 40%;
}

thead > tr > th {
  font-size: 18px;
  border-bottom: 2px solid #3e4159;
  border-top: transparent;
}

.results-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #c1f0f1;
}

.results-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 3rem;
}

.img-jump {
  height: auto;
  width: 35%;
}

.great-work-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.great-work-container .img-zen {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 35%;
}

.user-quiz-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Quiz Take Page */
.quiz-description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.quiz-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.quiz-box {
  width: 60%;
  margin: 1rem;
  border-radius: 1.5rem;
  color: #3ac5c9;
  background-color: #3e4159;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/* Login Page */
.login-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #c1f0f1;
}
.login-form-container .login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  border-radius: 1.5rem;
}
.login-form-container .login-form label {
  margin: 1rem;
}

.submit-button {
  margin-top: 1rem;
}

.footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-img .on-couch-img {
  width: 35%;
  height: auto;
}

/* Register Page */
.register-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #c1f0f1;
}
.register-form-container .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  border-radius: 1.5rem;
}
.register-form-container .register-form label {
  margin: 1rem;
}

.submit-button {
  margin-top: 1rem;
}

.footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-img .on-couch-img {
  width: 35%;
  height: auto;
}

/* Media Queries */
/* Mobile */
@media (max-width: 767px) {
  /* styles for screens smaller than 767px */
}
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  /* styles for screens between 768px and 1023px */
}
/* Desktop */
@media (min-width: 1024px) {
  /* styles for screens larger than 1024px */
}/*# sourceMappingURL=main.css.map */