//Variables

$base-font-size: 16px;
$base-line-height: 1.5;

$primary-color: #3ac5c9;
$secondary-color: #3e4159;
$white-color: #fff;
$accent-color: #c1f0f1;

$width: 100%;

$font-family: "Open Sans", sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;

$font-size-large: 2rem;
$font-size-medium: 1.5rem;

$border-radius: 5rem;

// Global styles

html {
  font-size: $base-font-size;
  line-height: $base-line-height;

}

body {
  font-family: $font-family;
  font-weight: $font-weight-normal;
  color: $secondary-color;
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 90px;
  height: 100%;

}

//Typography

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  text-align: center;
  font-weight: $font-weight-bold;
  &:hover {
    color: lighten($primary-color, 10%);
  }
}

h1 {
  font-size: $font-size-large;
  &:hover {
    color: lighten($primary-color, 10%);
  }
}

h2 {
  font-size: $font-size-medium;
  &:hover {
    color: lighten($primary-color, 10%);
  }
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    color: lighten($primary-color, 10%);
  }
}


// Button and Input Styles
button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  background-color: $primary-color;
  color: $white-color;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: lighten($primary-color, 10%);
  }
}

input,
textarea,
select {
  display: block;
  width: 100%;
  height: auto;
  border: none;
  padding: 5px;
  border-radius: $border-radius;
  background-color: lighten($white-color, 40%);
  font-family: $font-family;
  font-weight: $font-weight-normal;

  color: $secondary-color;
  &:focus {
    outline: none;
    border-color: $white-color;
  }
}

// Navbar Styles

.navbar {
  width: 100%;
  height: 2rem;
  background-color: $accent-color;
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 3rem;

  .nav-list {
    position: absolute;
    top: 45%;
    left: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    color: $primary-color;
  }

  .nav-link {
    font-family: $font-family;
    color: $secondary-color;
    text-decoration: none;
    &:hover {
      color: lighten($primary-color, 10%);
    }
  }

  .menu {
    width: 4rem;
    height: 2.5rem;
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

// Logo Styles
.logo {
  position: absolute;
  top: 1.5rem;
  left: 2rem;

  a {
    font-family: $font-family;
    font-size: 1.5rem;
    color: $secondary-color;
    letter-spacing: 0.1rem;
    &:hover {
      color: lighten($primary-color, 10%);
    }
  }

  span {
    font-family: $font-family;
    font-size: 2.5rem;
    font-weight: bold;
    color: $secondary-color;
    letter-spacing: 0.1rem;
  }
}

// Hero Styles

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 3rem;
  background-color: $accent-color;
}

.hero-text {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-right: 4rem;
  background-color: $accent-color;
}

.hero-img {
  width: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 4rem;


 }

// Quiz Display Styles
.take-quiz-text {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white-color;
}


.quiz-cards {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.icon-container {
  background-color: $secondary-color;
  border-radius: $border-radius;
  width: 115px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  color: $primary-color;

}

  .column {
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      padding-left: 5px;
      padding-right: 5px;
      word-wrap: nowrap;
      margin-top: 0;
      text-align: center;
    }
  }
  .take-quiz-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

  }
  .take-quiz-img {
    background: transparent;
    padding-top: 1rem;
    padding-right: 5rem;
    padding-bottom: 1rem;
    width: 35%;
    height: 35%;
  }




// TBD Display Styles

.tbd {
  display: flex;
  height: 400px;
}

// Footer Styles

.footer {
  width: 100%;
  height: 100px;
  color: $primary-color;
  background-color: $secondary-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  position: sticky;
}


// quiz create page

.create-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

}

.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.question-box {
  display: flex;
  flex-direction: column;
  align-items: row;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  width: 60%;
  border-radius: 1.5rem;
  color: $primary-color;
  background-color: $secondary-color;


   li {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: space-evenly;
  }

  .question {
    display: flex;
    justify-content: center;
  }

 h4 {
    display: flex;
    justify-content: center;
    margin: -1rem;
  }

  .correct-answer {
    width: 10%;
  }

  h3 {
    margin: 0;
    margin-left: -2rem;
    margin-right: 1rem;
  }
  .question-text {
    width: 92%;
    margin-left: 1.25rem;
  }
  input[type="radio"] {
    outline: transparent;
  }
}

.create-instructions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;

}

 .create-instructions-1, .create-instructions-2, .create-instructions-3, .create-instructions-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;


  i {
    font-size: 2rem;
    color: $secondary-color;
  }
 }
 .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;

 }




// Quiz Results Page

.table {
  border-collapse: collapse;
  font-family: $font-family;
  margin: 2rem auto;
  width: 80%;
  text-align: center;
  table-layout: fixed;
  width: 75%;

}

th,
td {
  font-family: $font-family;
  text-align: center;
  padding: 1rem;
  width: 40%;
}

thead > tr > th {
  font-size: 18px;
  border-bottom: 2px solid $secondary-color;
  border-top: transparent;
}


.results-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: $accent-color;
}

.results-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-top: 3rem;

}

.img-jump {
height: auto;
  width: 35%;
}

/* images */

.img-shopping-cart {
  width: 27%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 1rem;
}

.img-on-couch {
  padding-top: 6rem;
  width: 27%;
  height: auto;
  position: absolute;
   top: 0;
   left: 0;

}

.great-work-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .img-zen {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 35%;
  }
}

.user-quiz-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;

.img-look-phone {
  width: 50%;
  height: auto;
  padding-top: 90px;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 1rem;
}
}

 /* Mobile */
@media (max-width: 767px) {

  /* styles for screens smaller than 767px */

}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {

  /* styles for screens between 768px and 1023px */

}

/* Desktop */
@media (min-width: 1024px) {

  /* styles for screens larger than 1024px */

}
